body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #95C6E8;
}
h1{
    text-align: center;
    font-weight: normal;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.39);
    color: #AD9BF2;
}
h2{
    text-align: center;
    font-weight: normal;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.384);
}

main{ 
    display: flex;
    justify-content: center;
 
}

#quest{
    text-align: center;
   font-weight: bolder;
   font-size: 20px;
}
.qt{
    list-style-type: none;
    margin: 14px 0px 0px 0px;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.356);
    border-radius: 10px;
    padding: 5px;
    width: 500px;
    text-align: center;
}
#game{
    background-color: #979CDB;
    width: 600px;
    height: 400px;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.493);
}
